/*******************/
/* GENERAL*/
/*******************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style: none;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

/*******************/
/* BG-FULLWIDTH SETTINGS */
/*******************/
.bg-white {
    background-color: white;
    color: #031b4e;
}

.bg-grey {
    background-color: #f3f5f9;
    color: #5b6987;
}

.bg-blue {
    background-color: #005fff;
    color: white;
}

.bg-blue-fish {
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blue-world {
    color: white;
    background: #031b4e url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark-blue {
    background-color: #010e28;
}

/*******************/
/* TYPO */
/*******************/
h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

h4 {
    font-size: 14px;
}

/*******************/
/* BUTTON AND HOVER EFFECT */
/*******************/
.btn-ocean {
    padding: 12px 20px;
    background-color: #005fff;
    color: white;
    font-weight: 700;
}

.btn-ocean:hover {
    background-color: white;
    color: #005fff;
    border: 1px solid #005fff;
}

.btn-ocean-white {
    padding: 12px 20px;
    background-color: white;
    color: #005fff;
    font-weight: 700;
    border: 1px solid #005fff;
}

.btn-ocean-white:hover {
    background-color: #005fff;
    color: white;
    /* border: 1px solid white; */
}

/*******************/
/* STYLIZING SECTION */
/*******************/
section {
    padding: 80px 20px;
}

nav {
    height: 65px;
    /* delete */
}

/*******************/
/* HEADING section */
/*******************/
section .heading-left-ocean {
    text-align: center;
    margin-bottom: 80px;
}

section.heading .jumb-title {
    text-align: center;
    /* height: 400px; */
}

.jumbotron.bg-white {
    padding: 30px;
    width: 350px;
    margin: auto;
}

.jumbotron .jumb-title h4 {
    font-weight: 700;
    margin-bottom: 40px;
}

.jumbotron input {
    height: 45px;
}

.jumbotron .btn-ocean {
    margin-bottom: 50px;
}

.btn-white-left {
    float: left;
}

.btn-white-left i {
    font-size: 18px;
    padding-right: 10px;
}

.btn-white-right {
    float: right;
}

.btn-white-right i {
    font-size: 18px;
}

.heading .signing-up {
    width: 350px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

/*******************/
/* BRAND section */
/*******************/
section.brand {
    text-align: center;
}

section.brand h4 {
    font-weight: 700;
    margin-bottom: 40px;
}

.arrow-link {
    margin-top: 40px;
}

.arrow-link a:after {
    font-size: 14px;
    font-weight: 400;
    content: ' \276F';
    color: #1e79fd;
}

.arrow-link a {
    color: #006dfe;
    font-weight: 700;
}

.arrow-link a:hover,
.arrow-link a:hover:after {
    text-decoration: none;
    color: #1633ff;
}

/*******************/
/* DEPLOY section AND BUSINESS section (same style)*/
/*******************/
section.deploy-business {
    text-align: center;
}

section.deploy-business h3 {
    color: #5b6987;
}

section.deploy-business .row:first-child {
    margin-bottom: 40px;
}

section.deploy-business .fake-margin-bottom {
    margin-bottom: 40px;
}

section.deploy-business .aside-nav a {
    text-decoration: none;
    display: inline-block;
    /* padding: 0 30px; */
    width: 80px;
    margin: 0 10px;
    font-size: 16px;
    color: #5b6987;
    border-bottom: 3px solid lightgrey;
    z-index: 2;
}

section.deploy-business .aside-nav a.active {
    color: #031b4e;
    border-bottom: 3px solid #0069ff;
    position: relative;
    z-index: 1;
}

section.deploy-business .aside-nav a:hover {
    text-decoration: none;
    color: #031b4e;
    border-bottom: 3px solid #0069ff;
}

section.deploy-business .deploy-business-boxes {
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
}

section.deploy-business .deploy-business-boxes h4 {
    margin-top: 25px;
    color: #031b4e;
    font-size: 18px;
    font-weight: 700;
}

section.deploy-business .deploy-business-boxes p {
    color: #031b4e;
    font-size: 16px;
    color: #5b6987;
}

/*******************/
/* CAROUSEL sections (same style) */
/*******************/
section.carousel-section {
    text-align: center;
    font-weight: 200;
    color: #031b4e;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* IMPORTANTE: PER FITTARE L'IMMAGINE ALL'INTERNO DELLA COL
CREO UN CONTENITORE ATTORNO ALL'IMMAGINE E IMPOSTO L'IMMAGINE
CON WIDTH 100% / MENTRE NEL HTML METTO IMG RESPONSIVE CHE MI
APPLICA: max-width: 100%;, height: auto; and display: block;
to the image so that it scales nicely to the parent element.*/
section.carousel-section .carousel-section-carousel-box img {
    width: 100%;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section.carousel-section .carousel-section-carousel-box {
    margin: 80px 0 40px;
}

section.carousel-section p {
    font-size: 18px;
}

section.carousel-section i {
    font-size: 10px;
    padding: 0 5px;
    color: #0069ff;
}

/*******************/
/* BUSINESS section */
/*******************/
section.deploy-business .only-business-boxes {
    margin-bottom: 80px;
}

/*******************/
/* BAND section */
/*******************/
section.band {
    text-align: center;
}

section.band .row:first-child {
    margin-bottom: 60px;
}

section.band a {
    color: #0069e4;
}

section.band a:hover {
    text-decoration: none;
    color: #1633ff;
}

.city-band {
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 1px solid rgba(140, 140, 140, 0.15);
}

.city-band-no-bord {
    border-bottom: 1px solid transparent;
}

.code-city {
    width: 70px;
    padding-right: 35px;
    text-align: left;
}

.code-city, .name-city {
    float: left;
}

.name-city {
    color: #98a2b7;
}

.city-band .speed-test {
    float: right;
}

.city-band .speed-test a {
    text-decoration: none;
    color: #00b59c;
}

.speed-test a:after {
    font-size: 14px;
    font-weight: 400;
    content: ' \276F';
    color: #00b59c;
}

.speed-test a:hover:after {
    color: #1633ff;
}

/*******************/
/* TEAM CAROUSEL section (QUI SOLO MODIFICHE RISPETTO A CAROUSEL)*/
/*******************/
/* vado a cambiare l'immagine come viene fittata che non sarà
più widht:100% ma margini:0 auto;*/
section.carousel-section.teams img {
    width: 200px;
    margin: 0 auto;
}

section.carousel-section.teams .carousel-section-carousel-box {
    background-color: white;
    padding: 50px 20%;
    text-align: center;
    max-width: 100%;
}

section.carousel-section.teams .carousel-section-carousel-box h3 {
    line-height: 35px;
    margin-bottom: 30px;
}

section.carousel-section.teams .carousel-section-carousel-box h3.blockquote:before {
    content: open-quote;
    position: relative;
    top: 54px;
    right: 5px;
    font-size: 90px;
    color: #98a2b7;
}

section.carousel-section.teams .carousel-section-carousel-box h3.blockquote:after {
    content: close-quote;
    position: relative;
    top: 18px;
    left: 5px;
    font-size: 30px;
    color: #98a2b7;
}

/*******************/
/* GET-STARTED section */
/*******************/
.get-started {
    color: white;
    text-align: center;
}

section.get-started {
    text-align: center;
}

section.get-started h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

section.get-started .btn-account {
    padding: 20px 20px;
}

/*******************/
/* FOOTER section */
/*******************/
.footer {
    padding-bottom: 0;
}

footer .list {
    min-height: 480px;
}

footer .list .list-title {
    color: white;
    margin-bottom: 20px;
}

footer .list li {
    margin-bottom: 15px;
}

footer .list a {
    color: #78868c;
}

footer .list a:hover {
    color: white;
    text-decoration: none;
}

/*  */
footer .footer-bottom {

    padding: 40px 0;
    border-top: 1px solid rgba(120, 134, 140, 0.36);
    margin-top: 20px;
    color: #78868c;
}

footer .footer-bottom-left {
    text-align: center;
    width: 100%;
    height: 50px;
    float: left;
}

footer .footer-bottom-right {
    text-align: center;
    width: 100%;
    height: 50px;
    float: right;
}

footer .footer-bottom-right span,
footer .footer-bottom-left span {
    line-height: 50px;
}

footer .footer-bottom-left span {
    margin-left: 20px;
}

footer .footer-bottom-right span a {
    font-size: 25px;
    margin-right: 10px;
    color: #78868c;
}

footer .footer-bottom-right span a:hover {
    color:white;
}

footer .footer-bottom-right span a:last-child {
    margin-right: 0;
}

/*******************/
/* MEDIA QUERIES SETTINGS */
/*******************/
/* Small devices phone */
@media screen and (min-width: 768px) {
    section.heading h1 {
        font-size: 58px;
    }

    section .heading-left-ocean {
        top: 100%;
        text-align: left;
        margin-top: 80px;
    }

    section.deploy-business .aside-nav {
        margin-bottom: 40px;
    }

    section.deploy-business .aside-nav a {
        margin-bottom: 20px;
        text-align: left;
    }

    /* changing board of deploy-business vertical navbar */
    section.deploy-business .aside-nav a {
        margin-bottom: 0;
        padding: 15px;
        border-bottom: none;
        border-left: 3px solid lightgrey;
    }

    section.deploy-business .aside-nav a.active {
        border-left: 3px solid #0069ff;
        border-bottom: none;
    }

    section.deploy-business .aside-nav a:hover {
        border-bottom: none;
        border-left: 3px solid #0069ff;
    }

    section.deploy-business .only-deploy-boxes {
        text-align: left;
        margin-bottom: 40px;
        margin-top: 0;
    }

    /* compaiono le freccette accanto al carosello */
    section.carousel-section .carousel-section-carousel-box:after,
    section.carousel-section .carousel-section-carousel-box:before {
        position: absolute;
        top: 50%;
        font-size: 30px;
        font-weight: 400;
        color: #031b4e;
    }

    section.carousel-section .carousel-section-carousel-box:after {
        left: 105%;
        content: ' \276F';
    }

    section.carousel-section .carousel-section-carousel-box:before {
        right: 105%;
        content: ' \276E';
    }

    /* cambio la divisione dei due bottom footer */
    footer .footer-bottom-left {
        text-align: left;
        width: 55%;
    }

    footer .footer-bottom-right {
        text-align: right;
        width: 45%;
    }
}

/* Medium devices phone */
@media screen and (min-width: 992px) {
    section.deploy-business .only-business-boxes {
        text-align: left;
    }

    .city-band-no-bord-md {
        border-bottom: 1px solid transparent;
    }



    /* allineamento testo e tasto sezione started */
    .align-text-started-left {
        text-align: left;
    }

    .align-text-started-right {
        text-align: right;
    }
}
